/*****************************************************************************/
/* Custom Site Specific CSS
/* Author: Corina Acosta
/* Inherits Bootstrap CSS
/*****************************************************************************/

/*****************************************************************************/
/* Global CSS
/*****************************************************************************/
.center {
  text-align: center; }

.block-level {
  display: block;
  width: 100%;
  min-height: 28px; }

.scrollup {
  background: url("../img/icon_gototop.png") no-repeat scroll 0 0 transparent;
  bottom: 20px;
  display: none;
  height: 40px;
  position: fixed;
  right: 20px;
  text-indent: -9999px;
  width: 40px; }

/*****************************************************************************/
/*
/* Github Banner
/*
/*****************************************************************************/
#github-banner {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 9999; }

#github-banner #inner {
  height: 149px;
  width: 149px;
  overflow: hidden;
  padding: 0;
  margin: 0; }

#github-banner #inner a {
  display: block;
  width: 225px;
  font-size: 14px;
  background-color: #333;
  color: #efefef;
  word-spacing: 2px;
  text-decoration: none;
  padding: 5px 15px 5px 25px;
  position: relative;
  left: 20px;
  top: -37px;
  text-align: center;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/*
.logo a {
  background: url("https://graph.facebook.com/iamcorinaacosta/picture?width=110&height=110") no-repeat center center;
  text-indent: -9999px;
  width: 100px;
  height: 100px;
  display: block;
}
*/



/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body,
html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
a{
  color: #A400C1;
}
a:hover{
  color: #5A006A;
}
p {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/ca_web.png) no-repeat top right;
    background-size: contain;
    background-color: #FDAB00;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-social-buttons{
  margin-top: 20px;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat bottom center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

/* CSS Added to theme */
#about img{
  width: 100%;
  max-width: 370px;
  margin-right: 2em;
  margin-bottom: 2em;
  box-shadow: 10px 10px 5px #ccc;
}
#contact #foxyform_embed_link_601186{
    display: none !important;
}
.post {
  color: #555;
}
.post h3 {
  margin-bottom: 20px;
}
.post img.thumb {
  float: left;
  max-width: 30%;
  height: auto;
  padding: 0 15px 15px 0;
}
.post .meta{
  margin-bottom: 20px;
}
.post p{
  margin-bottom: 15px;
}
.post img {
  display: block;
  padding: 10px 0;
  max-width: 100%;
}
.post .fa-3x {
  font-size: 7em;
}
.post a {
  color: #cc3333;
  text-decoration: none;
}
.post a:hover {
  color: #720d0d;
  text-decoration: none;
}
.post .fa, .glyphicon-time {
  color: #cc0000;
}
/* End of CSS Added to theme */

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .copyright{
      text-align: left;
    }
}

@media(max-width: 480px){
  .banner{padding: 40px 0;}
  .banner h2 {font-size: 2em;}
  .intro-header{color: #000;background-image: none;}
}