/*****************************************************************************/
/*
/* Custom Site Specific SASSY CSS
/* Author: Corina Acosta
/* Inherits Bootstrap CSS
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* Global SASSY CSS
/* Author: Corina Acosta
/* CSS Globals
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* Global Mixins
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* Github Banner
/*
/*****************************************************************************/
#github-banner {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 9999; }

#banner {
  height: 149px;
  width: 149px;
  overflow: hidden;
  padding: 0;
  margin: 0; }

#banner a {
  display: block;
  width: 225px;
  font-size: 14px;
  background-color: #f7a903;
  color: white;
  word-spacing: 2px;
  text-decoration: none;
  padding: 5px 15px 5px 25px;
  position: relative;
  left: 20px;
  top: -37px;
  text-align: center;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/*****************************************************************************/
/*
/* Fiipper Animation
/*
/*****************************************************************************/
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000; }

.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 80px;
  height: 80px; }

.flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 2; }

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.front a, .back a {
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  display: block; }

.front a {
  background: url("https://graph.facebook.com/iamcorinaacosta/picture?width=80&height=80") no-repeat top center; }

.back a {
  background: #f7a903 url("../assets/logo-text.png") no-repeat top center; }

/*****************************************************************************/
/*
/* Main Styles
/*
/*****************************************************************************/
body {
  margin-top: 100px;
  font-family: Varela;
  font-size: 16px;
  color: #444444; }
  body a {
    color: #01ad90;
    text-decoration: none; }
    body a:hover {
      color: #00d1b1;
      text-decoration: none; }

.fa-stack {
  margin-top: -8px; }

.navbar {
  padding: 8px 0; }
  .navbar .nav {
    padding-top: 15px; }

#home .posts img {
  float: left;
  max-width: 20%;
  height: auto;
  margin-right: 15px; }
#home .posts blockquote {
  visibility: hidden; }
#home .posts li {
  padding: 10px 0; }
  #home .posts li:after {
    clear: both;
    content: "";
    display: block; }

.post img {
  float: left;
  max-width: 30%;
  height: auto;
  padding: 0 15px 15px 0; }
.post .fa-3x {
  font-size: 7em; }

footer {
  margin: 50px 0; }
