/*
Syntax error: Undefined variable: "$primary-font-family".
        on line 46 of sass/global.scss

41: 
42: #banner a{
43:   display: block;
44:   width: 225px;
45:   font-size: 14px;
46:   font-family: $primary-font-family, Helvetica, Arial, sans serif;
47:   background-color: $ribbon-color;
48:   color: $light-text;
49:   word-spacing: 2px;
50:   text-decoration: none;
51:   padding: 5px 15px 5px 25px;

Backtrace:
sass/global.scss:46
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/script/variable.rb:49:in `_perform'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/script/node.rb:40:in `perform'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/script/list.rb:71:in `block in _perform'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/script/list.rb:71:in `map'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/script/list.rb:71:in `_perform'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/script/node.rb:40:in `perform'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/plugin.rb:107:in `method_missing'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/exec.rb:463:in `watch_or_update'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/exec.rb:326:in `process_result'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/exec.rb:41:in `parse'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/lib/sass/exec.rb:21:in `parse!'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.12/bin/sass:9:in `<top (required)>'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/bin/sass:23:in `load'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/bin/sass:23:in `<main>'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `eval'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$primary-font-family\".\A         on line 46 of sass/global.scss\A \A 41: \A 42: #banner a{\A 43:   display: block;\A 44:   width: 225px;\A 45:   font-size: 14px;\A 46:   font-family: $primary-font-family, Helvetica, Arial, sans serif;\A 47:   background-color: $ribbon-color;\A 48:   color: $light-text;\A 49:   word-spacing: 2px;\A 50:   text-decoration: none;\A 51:   padding: 5px 15px 5px 25px;"; }
