

/*****************************************************************************/
/*
/* Custom Site Specific SASSY CSS
/* Author: Corina Acosta
/* Inherits Bootstrap CSS
/*
/*****************************************************************************/

$base-color: #cc3333;
$dark-text: #333;
$light-text: #efefef;
$primary-link-color: $base-color;
$primary-link-hover-color: #720d0d;
$primary-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$secondary-font-family: 'Playfair Display', serif;; //blog titles

@import 'global';

/*****************************************************************************/
/*
/* Main Styles
/*
/*****************************************************************************/

body{
  margin-top: 100px; 
  font-family: $primary-font-family;
  font-size: 16px;
  color:$dark-text;
  a{
    color:$primary-link-color;
    text-decoration:none;
    &:hover{
      color:$primary-link-hover-color;
      text-decoration:none;
    }
  }
}

.alarm{color: #cc0000;}
.glyphicon-time{color: #4C2A2A;}

.logo a {
  /*background: url("https://graph.facebook.com/iamcorinaacosta/picture?width=110&height=110") no-repeat top center;*/
  background: url("../assets/ca-110x110.jpg") no-repeat top center;
  text-indent: -9999px;
  width: 110px;
  height: 110px;
  display: block;
}

.fa-stack{margin-top: -8px;}

.navbar{
  border: none;
  padding: 8px 0;
  //.container{padding-left:0;}
  .nav{
    padding-top: 25px;
    font-size:18px;
    text-transform: uppercase;
  }
}
.navbar-inverse{
  background-color: $base-color;
  color:$light-text;

  .navbar-nav>li>a {color: $light-text;}
  .navbar-nav>li>a:hover{color: $dark-text;}
  .navbar-nav>.dropdown>a .caret{
    border-top-color: $light-text;
    border-bottom-color: $light-text;
  }
  .navbar-nav>.dropdown>a:hover .caret{
    border-top-color: $dark-text;
    border-bottom-color: $dark-text;
  }
}
.main{
  padding-top:50px;
}
#home .posts, .post{
  h2{
    margin-top:0;
    font-family: $secondary-font-family;
    font-weight: 700;
    font-style: italic;
  }
}
#home .posts{
  img.thumb{
    float: left;
    max-width: 20%;
    height: auto;
    margin-right: 15px;
  }
  blockquote{
    visibility:hidden;
  }
  li{
    padding-bottom: 10px;;
  
    &:after{
      clear: both;
      content: "";
      display: block;
    }
  }
}

.post{
  img.thumb{
    float: left;
    max-width: 30%;
    height: auto;
    padding: 0 15px 15px 0;
  }
  .fa-3x {font-size:7em;}
}

.archive{
    li{font-size:13px;}
 }

