

/*****************************************************************************/
/*
/* Custom Site Specific SASSY CSS
/* Author: Corina Acosta
/* Inherits Bootstrap CSS
/*
/*****************************************************************************/

$logo-color: #f7a903;
$ribbon-color: $logo-color;
$primary-text-color: #444;
$primary-link-color: #01ad90;
$primary-link-hover-color: #00d1b1;
$light-text: #fff;
$primary-font-family: Varela;

@import 'global';

/*****************************************************************************/
/*
/* Main Styles
/*
/*****************************************************************************/

body{
  margin-top: 100px; 
  font-family: $primary-font-family;
  font-size: 16px;
  color:$primary-text-color;
  a{
    color:$primary-link-color;
    text-decoration:none;

    &:hover{
      color:$primary-link-hover-color;
      text-decoration:none;
    }
  }
}

.fa-stack{margin-top: -8px;}

.navbar{
  padding: 8px 0;
  .nav{
    padding-top: 15px;
  }
}

#home .posts{
  img{
    float: left;
    max-width: 20%;
    height: auto;
    margin-right: 15px;
  }
  blockquote{
    visibility:hidden;
  }
  li{
    padding: 10px 0;
  
    &:after{
      clear: both;
      content: "";
      display: block;
    }
  }
}

.post{
  img{
    float: left;
    max-width: 30%;
    height: auto;
    padding: 0 15px 15px 0;
  }
  .fa-3x {font-size:7em;}
}

.archive{
    li{font-size:13px;}
 } 
footer{
  margin: 50px 0;
}