

/*****************************************************************************/
/*
/* Custom Site Specific SASSY CSS
/* Author: Corina Acosta
/* Inherits Bootstrap CSS
/*
/*****************************************************************************/

$base-color: #F0A993;
$primary-text-color: #444;
$primary-link-color: #ea3600;
$primary-link-hover-color: $base-color;
$light-text: #fff;
$primary-font-family: Varela;

@import 'global';

/*****************************************************************************/
/*
/* Main Styles
/*
/*****************************************************************************/

body{
  margin-top: 100px; 
  //font-family: $primary-font-family;
  font-size: 16px;
  color:$primary-text-color;
  a{
    color:$primary-link-color;
    text-decoration:none;

    &:hover{
      color:$primary-link-hover-color;
      text-decoration:none;
    }
  }
}

.fa-stack{margin-top: -8px;}

.navbar{
  padding: 8px 0;
  .nav{
    padding-top: 15px;
  }
}

.logo a {
  background: url("https://graph.facebook.com/iamcorinaacosta/picture?width=80&height=80") no-repeat top center;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  display: block;
}

#home .posts{
  img{
    float: left;
    max-width: 20%;
    height: auto;
    margin-right: 15px;
  }
  blockquote{
    visibility:hidden;
  }
  li{
    padding: 10px 0;
  
    &:after{
      clear: both;
      content: "";
      display: block;
    }
  }
}

.post{
  img{
    float: left;
    max-width: 30%;
    height: auto;
    padding: 0 15px 15px 0;
  }
  .fa-3x {font-size:7em;}
}

.archive{
    li{font-size:13px;}
 } 