/*****************************************************************************/
/*
/* Global SASSY CSS
/* Author: Corina Acosta
/* CSS Globals
/*
/*****************************************************************************/

.center{text-align:center;}
.block-level {
  display: block;
  width: 100%;
  min-height: 28px;
}

/*****************************************************************************/
/*
/* Global Mixins
/*
/*****************************************************************************/
@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

/*****************************************************************************/
/*
/* Github Banner
/*
/*****************************************************************************/

#github-banner{
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 9999;
}
#banner{
  height: 149px;
  width: 149px;
  overflow:hidden;
  padding: 0;
  margin: 0;
}

#banner a{
  display: block;
  width: 225px;
  font-size: 14px;
  background-color: $dark-text;
  color: $light-text;
  word-spacing: 2px;
  text-decoration: none;
  padding: 5px 15px 5px 25px;
  position:relative;
  left: 20px;
  top: -37px;
  text-align: center;

  @include vendor-prefix('transform-origin', '0 0');
  @include vendor-prefix('transform', 'rotate(45deg)');
  //@include vendor-prefix('box-shadow', '1px 1px 5px 1px #666');
}