/*****************************************************************************/
/*
/* Custom Site Specific SASSY CSS
/* Author: Corina Acosta
/* Inherits Bootstrap CSS
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* Global SASSY CSS
/* Author: Corina Acosta
/* CSS Globals
/*
/*****************************************************************************/
.center {
  text-align: center; }

.block-level {
  display: block;
  width: 100%;
  min-height: 28px; }

.scrollup {
  background: url("img/icon_gototop.png") no-repeat scroll 0 0 transparent;
  bottom: 20px;
  display: none;
  height: 40px;
  position: fixed;
  right: 20px;
  text-indent: -9999px;
  width: 40px; }

/*****************************************************************************/
/*
/* Global Mixins
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* Github Banner
/*
/*****************************************************************************/
#github-banner {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 9999; }

#banner {
  height: 149px;
  width: 149px;
  overflow: hidden;
  padding: 0;
  margin: 0; }

#banner a {
  display: block;
  width: 225px;
  font-size: 14px;
  background-color: #333333;
  color: #efefef;
  word-spacing: 2px;
  text-decoration: none;
  padding: 5px 15px 5px 25px;
  position: relative;
  left: 20px;
  top: -37px;
  text-align: center;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/*****************************************************************************/
/*
/* Main Styles
/*
/*****************************************************************************/
body {
  margin-top: 100px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #333333; }
  body a {
    color: #cc3333;
    text-decoration: none; }
    body a:hover {
      color: #720d0d;
      text-decoration: none; }

.alarm {
  color: #cc0000; }

.glyphicon-time {
  color: #4C2A2A; }

.fa {
  color: #cc3333; }

.fa-stack {
  margin-top: -8px; }

.logo a {
  /*background: url("https://graph.facebook.com/iamcorinaacosta/picture?width=110&height=110") no-repeat top center;*/
  background: url("../assets/ca-110x110.jpg") no-repeat top center;
  text-indent: -9999px;
  width: 110px;
  height: 110px;
  display: block; }

.navbar {
  border: none;
  padding: 8px 0; }
  .navbar .nav {
    padding-top: 25px;
    font-size: 18px;
    text-transform: uppercase; }

.navbar-inverse {
  background-color: #cc3333;
  color: #efefef; }
  .navbar-inverse .navbar-nav > li > a {
    color: #efefef; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #333333; }
  .navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #efefef;
    border-bottom-color: #efefef; }
  .navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #333333;
    border-bottom-color: #333333; }

.main {
  padding-top: 50px; }

#home .posts h2, .post h2 {
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic; }

#home .posts img.thumb {
  float: left;
  max-width: 20%;
  height: auto;
  margin-right: 15px; }
#home .posts blockquote {
  visibility: hidden; }
#home .posts li {
  padding-bottom: 10px; }
  #home .posts li:after {
    clear: both;
    content: "";
    display: block; }

.post h3 {
  margin-bottom: 20px; }
.post img.thumb {
  float: left;
  max-width: 30%;
  height: auto;
  padding: 0 15px 15px 0; }
.post .fa-3x {
  font-size: 7em; }

.archive li {
  font-size: 13px; }
