/*
Syntax error: Undefined variable: "$dark-text".
        on line 62 of sass/global.scss

57: 
58: #banner a{
59:   display: block;
60:   width: 225px;
61:   font-size: 14px;
62:   background-color: $dark-text;
63:   color: $light-text;
64:   word-spacing: 2px;
65:   text-decoration: none;
66:   padding: 5px 15px 5px 25px;
67:   position:relative;

Backtrace:
sass/global.scss:62
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/script/tree/node.rb:50:in `perform'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/stack.rb:121:in `with_frame'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/stack.rb:79:in `with_base'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/stack.rb:121:in `with_frame'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/stack.rb:79:in `with_base'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/tree/root_node.rb:20:in `render'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/engine.rb:274:in `render'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:186:in `each'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/plugin/compiler.rb:221:in `watch'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/plugin.rb:108:in `method_missing'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/exec.rb:509:in `watch_or_update'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/exec.rb:346:in `process_result'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/exec.rb:43:in `parse'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/lib/sass/exec.rb:22:in `parse!'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/gems/sass-3.3.2/bin/sass:13:in `<top (required)>'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/bin/sass:23:in `load'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/bin/sass:23:in `<main>'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/bin/ruby_executable_hooks:15:in `eval'
/Users/cacosta/.rvm/gems/ruby-2.0.0-p451@iamca/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$dark-text\".\A         on line 62 of sass/global.scss\A \A 57: \A 58: #banner a{\A 59:   display: block;\A 60:   width: 225px;\A 61:   font-size: 14px;\A 62:   background-color: $dark-text;\A 63:   color: $light-text;\A 64:   word-spacing: 2px;\A 65:   text-decoration: none;\A 66:   padding: 5px 15px 5px 25px;\A 67:   position:relative;"; }
