  <footer>
    <div class="social text-center">
      <ul class="list-inline">                
        <li><a href="https://facebook.com/iamcorinaacosta" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        <li><a href="https://twitter.com/codelala" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="https://linkedin.com/in/corinaacosta/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
        <li><a href="https://github.com/codelala" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></li>
        <li><a href="https://instagram.com/iamcorinaacosta" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
        <li><a href="https://www.flickr.com/photos/corina_acosta" target="_blank"><i class="fa fa-flickr fa-2x"></i></a></li>
        <li><a href="http://ganeshagogo.tumblr.com/" target="_blank"><i class="fa fa-tumblr fa-2x"></i></a></li>
         </ul>
      <p>&copy; {{site.time | date: "%Y"}} <a href="/">Corina Acosta</a></p>
    </div>
  </footer>


  </div>
  <!-- /.container -->

  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>


</body>

</html>
