<div class="col-lg-4">
    <!--div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </div-->
    <!-- /well -->
    <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="posts list-unstyled">
                  {% for cat in site.categories %}
                    <li>
                      <a href="/categories/{{ cat[0] }}">{{ cat[0] }}</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- /well -->
    <div class="well">
        <h4>Tweets</h4>
        <div class="tweets-container">No Tweats</div>
    </div>
    <!-- /well -->
</div>